.create-post{
  @include flexGen(row, nowrap, center, flex-start);
  margin-bottom: 4rem;
  min-height: 100vh;

  &__inner{
    @include flexGen(column, nowrap, center, flex-start);
    max-width: $max-width;
    width: 100%;
    color: colors(accent);
    padding: 0 1rem;

    @include firstBrk{
      padding: 0 2rem;
    }
  }

  &__dynamic{
    @include flexGen(column, nowrap, center, center);
    width: 100%;
    margin-bottom: 1rem;

    &-material{
      @include flexGen(column, nowrap, space-between, center);
      width: 100%;
      margin-bottom: 1rem;

      @include secondBrk{
        @include flexGen(row, nowrap, space-between, center);
      }
    }

    &-step{
      @include flexGen(row, wrap, space-between, center);
      width: 100%;
      margin-bottom: 1rem;

      h3{
        margin-bottom: 1rem;
      }

      label{
        @include flexGen(row, nowrap, flex-start, center);
        justify-content: stretch;
        margin-bottom: 1rem !important;
      }

      &--edit{
        @include flexGen(row, wrap, space-between, center);
        width: 100%;
        margin-bottom: 1rem;

        h3{
          margin-bottom: 1rem;
        }

        label{
          @include flexGen(row, nowrap, flex-start, center);
          justify-content: stretch;
          margin-bottom: 1rem !important;
        }

        p{
          width: 90%;
        }

        button{
          width: 10%;
        }
      }
    }

    input{
      width: 100% !important;
      margin: 1rem 0;

      @include secondBrk{
        width: calc(50% - 1rem) !important;
      }

      &[name="stepVideo"]{
        width: 100% !important;
        margin-bottom: 1rem;
      }
    }

    select{
      width: 100% !important;

      @include secondBrk{
        width: calc(40% - 1rem) !important;
      }
    }

    button{
      width: 10%;
      min-width: 64px;
      align-self: flex-end;
    }
  }

  &__area-title{
    margin-top: 4rem;

    &:first-of-type{
      margin-top: 0 !important;
    }
  }

  &__left{
    @include flexGen(column, nowrap, center, flex-start);
  }

  &__new-material{
    font-size: 1rem;
    border: 0 !important;
    padding: 0 !important;
    text-transform: capitalize !important;

    &:hover{
      background: transparent !important;
      color: colors(accent) !important;
      text-decoration: underline;
    }
  }

  &__file{

    &-btn{
      @extend %btn;
      border: 2px solid colors(accent);
      margin-right: 1rem;
      transition: all .5s ease;

      &:hover{
        color: lighten(colors(lightBg), 10%);
        background: colors(accent);
      }
    }

    &-label{
      width: auto !important;
    }

    &-name{
      padding: 1rem;
      background: rgba(colors(accent), .05);
      border-radius: 10px;
      flex-grow: 1;
    }
  }

  h1{
    font-size: 1.8rem;
    font-family: $font-bold;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  form{
    @include gridGen(1fr, auto, 1rem, 3rem);
    align-items: start;

    @include secondBrk{
      @include gridGen(repeat(2, 1fr), auto, 1rem, 3rem);
      padding: 1rem;
    }

    label{
      width: 100%;
      margin-bottom: 2rem;

      select{
        width: 100%;
      }
    }

    p{
      margin-bottom: 1rem;
      font-size: 1.3rem;

      &:nth-of-type(2){
        font-size: 1rem;
        color: colors(second);
      }
    }

    select{
      @extend %input-project;
      padding: 1rem;

      &[name="category"]{
        width: 100% !important;
      }
    }

    input{
      @extend %input-project;
      padding: 1rem;

      &[type="text"]{
        width: 100%;
      }

      &[type="file"]{
        display: none;
      }
    }

    textarea{
      @extend %input-project;
      font-family: $font-regular;
      width: 100%;
      height: 250px;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    button{

      &[type="button"] {
        @extend %btn;
        background: transparent;
        color: colors(accent);
        border: 2px solid colors(accent);
        transition: all .5s ease;

        margin: 1rem 0;

        &:hover{
          color: lighten(colors(lightBg), 10%);
          background: colors(accent);
        }
      }

      &[type="submit"]{
        @extend %btn;
        color: colors(second);
        font-weight: bold;
        border: 2px solid colors(second);
        background: transparent;
        transition: all .5s ease;
        margin-top: 2rem;
        display: block;
        margin: 1rem auto;


        @include secondBrk{
          margin: 1rem 0 0 auto;
        }

        &:hover{
          color: lighten(colors(lightBg), 10%);
          background: colors(second);
        }
      }
    }
  }

  input{

    &[type="checkbox"]{
      display: none;
    }
  }

  &__cover-prev{
    background-position: center !important;
    background-size: cover !important;
    overflow: hidden;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  &__submenu{
    @include flexGen(row, nowrap, center, center);
    width: 100%;
    margin-bottom: 2rem;

    button{
      @extend %btn;
      border: 2px solid colors(accent);
      color: lighten(colors(lightBg), 10%);
      background: colors(accent);
      transition: all .5s ease;

      &:not(:first-of-type){
        margin-left: 2rem;
      }

      &:hover{
        background: lighten(colors(accent), 10%);
        border: 2px solid lighten(colors(accent), 10%);
      }
    }
  }

  &__old-step{
    @include flexGen(row, nowrap, space-between, center);
    margin-top: 2rem;

    p{
      width: 85%;
    }

    button{
      width: 10%;
    }
  }

  &__old-material{
    @include flexGen(row, wrap, space-between, center);

    p{
      color: colors(accent) !important;
      font-size: 1rem !important;
      width: 85%;
    }

    button{
      display: block;
      width: 10%;
    }
  }
}
